#include <stdio.h>
#include <stdlib.h>

int main()
{
    int numbers,i,numbers2,snumber;
    printf("How many numbers do you want to enter? :");
    scanf("%d",&numbers);
    snumber=numbers;
    for(i=1;i<numbers;i++)
    {
        printf("Enter the number:");
        scanf("%d",&numbers2);

        if(numbers2<snumber)
        {
            snumber=numbers2;
        }

    }
        printf("smallest number : %d",snumber);

}
   
